<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.jafa.repository.AttachRepository">
	
	<insert id="save">
		insert all
		<foreach collection="attachList" item="attach">
			into attach_file(attachNo,bno,filePath,fileName,fileType)
    		values(get_attach_seq,#{attach.bno}, #{attach.filePath}, #{attach.fileName}, #{attach.fileType})
		</foreach>
		select * from dual
	</insert>

	<select id="list" resultType="attachVO">
		select * from attach_file where bno = #{bno}
	</select>
</mapper>