<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.jafa.repository.HotelAttachRepository">
	
	<insert id="write">
		insert all
		<foreach collection="attachList" item="attach">
			into hotel_attach(attachNo,bno,category,filePath,fileName,fileType)
    		values(ho_attach_seq, #{attach.bno}, #{attach.category}, #{attach.filePath}, #{attach.fileName}, #{attach.fileType})
		</foreach>
		select * from dual
	</insert>

	<select id="list" resultType="hotelAttachVO">
		select * from hotel_attach where bno = #{bno}
	</select>
	
	<select id="listAll" resultType="hotelAttachVO">
		<if test="category != null and category != ''">
			SELECT * FROM hotel_attach WHERE category = #{category}
		</if>
		<if test="category == null or category == ''">
			SELECT * FROM hotel_attach
		</if>
	</select>
	
	
</mapper>