<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.jafa.repository.InquiryRepository">

	<select id="list" resultType="inquiryVO">
		select * from inquiry_reserve
	</select>
	
	<select id="detail" resultType="inquiryVO">
		select * from inquiry_reserve where bno = #{bno}
	</select>
	
	<delete id="remove">
		delete from inquiry_reserve where bno = #{bno}
	</delete>
	
	<insert id="write" useGeneratedKeys="true" keyColumn="bno" keyProperty="bno">
	    insert into inquiry_reserve (bno, title, content, writer, type)
	    values (inquiry_reserve_seq.nextval, #{title}, #{content}, #{writer}, #{type})
	</insert>
	

</mapper>