<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.jafa.repository.RoomAttachRepository">
	
	<insert id="write">
		insert all
		<foreach collection="roomAttach" item="attach">
			into room_attach(attachNo,room_id,filePath,fileName,fileType)
    		values(ro_attach_seq, #{attach.room_id}, #{attach.filePath}, #{attach.fileName}, #{attach.fileType})
		</foreach>
		select * from dual
	</insert>

	<select id="list" resultType="roomAttachVO">
		SELECT a.attachNo, h.bno, r.room_id, a.filePath, a.fileName, a.fileType
		FROM hotel_reserve h
		JOIN hotel_room r ON h.bno = r.bno
		JOIN room_attach a ON r.room_id = a.room_id
		WHERE h.bno = #{bno}
	</select>
	
	
	
	
</mapper>